html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $bs010;
  font: 13px/1.231 sans-serif;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.main-workarea-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  flex-grow: 1;
}

.workarea-path {
  height: 27px;
  padding: 5px 8px;
  border-bottom: 1px solid $bs070;
  background: $bs000;
}

.workarea-development {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  background: $bs020;

  &__file-browse {
    width: 100%;
    height: 50%;
    overflow:scroll;
    overflow-x:hidden;
    line-height: 25px;
    border-right: 1px solid $bs070;
    border-bottom: 1px solid $bs070;
  }

  &__variables-inspector {
    width: 100%;
    height: 50%;
    padding: 5px 8px;
    border-right: 1px solid $bs070;
  }
}

.workarea-command-window {
  width: 80%;
  padding: 15px;
  background: $bs000;
}

.workarea-footer{
  height: 21px;
  background: $bs035;
  border-top: 1px solid $bs070;
}