.code-history-container {
  overflow: scroll;
}

.inout-row {
  padding: 8px 8px;

  &__in {
  }

  &__out {
    margin: 5px 0 0 15px;
  }
}

.input-code-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 8px 8px;
  margin-top: auto;

  &__code {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 24px;
    resize: none;
    overflow: auto;
    height: auto;
    padding: 5px;
    box-shadow: 0 4px 10px -8px black;
  }
}
