/* Ao English */
$ae000: #fff;
$ae010: #f0fded;
$ae020: #e1fadb;
$ae030: #d3f8ca; // $light-green
$ae040: #bdf5af;
$ae050: #a7f194;
$ae060: #94e484;
$ae070: #82d674;
$ae080: #6fc864;
$ae090: #5dbb55;
$ae100: #4aad45; // $satisfaction-60
$ae200: #389f35;
$ae300: #259125;
$ae400: #138415;
$ae500: #007605; // $satisfaction-80
$ae600: #006d05;
$ae700: #006404;
$ae750: #005a04;
$ae800: #005103;
$ae900: #004803;

/* Black Coral */
$bc050: #e5eff0;
$bc060: #d5dee0;
$bc070: #c4ced1;
$bc080: #b3bdc2;
$bc090: #a3adb3;
$bc100: #929da3;
$bc200: #818c94;
$bc300: #707c85;
$bc400: #606b75;
$bc500: #4f5b66; // $zab-blue-gray
$bc600: #47525d;
$bc700: #3f4955;
$bc750: #37404c;
$bc800: #2f3744;
$bc900: #282e3b;

/* Black Smoky */
$bs000: #fff;    // $white
$bs010: #fafafa;
$bs020: #f7f7f7; // $regular-background, $main-bg, $thin-gray
$bs025: #f4f4f4; // $hover-bg
$bs030: #eee;    // $input-background, $border-gray
$bs035: #e6e6e6; // $line
$bs040: #dfdfdf;
$bs050: #c1c1c1;
$bs060: #c1c1c1;
$bs070: #a5a5a5;
$bs080: #989898; // $kam-secondary
$bs090: #898989;
$bs100: #7a7a7a;
$bs200: #6b6b6b;
$bs250: #616161; // $zab-gray
$bs300: #5e5e5e;
$bs400: #505050;
$bs500: #424242;
$bs600: #343434;
$bs700: #2b2b2b;
$bs750: #212121; // $primary
$bs800: #171717;
$bs900: #090909; // $black, $kam-primary

/* Bronze */
$br050: #f9e89e;
$br060: #f4dd94;
$br070: #eed38a;
$br080: #e9c980;
$br090: #e3bf77;
$br100: #ddb46d;
$br200: #d8aa63;
$br300: #d2a059;
$br400: #cd954f;
$br500: #c78b45;
$br600: #b87d3e;
$br700: #a86f37;
$br750: #996130;
$br800: #8a5329;
$br900: #7b4623;

/* Caroline Blue */
$cab050: #ade8ff;
$cab060: #99e2ff;
$cab070: #70d7ff;
$cab080: #5cd1ff;
$cab090: #47cbff;
$cab100: #33c5ff;
$cab200: #1fbfff;
$cab300: #0abaff;
$cab400: #00aff5;
$cab500: #0099d4;
$cab600: #0092cc;
$cab700: #0084b8;
$cab750: #0075a3;
$cab800: #00668f;
$cab900: #00587a;

/* CG Blue */
$cb050: #b5f1f4;
$cb060: #a4e3e9;
$cb070: #94d5de;
$cb080: #83c7d3;
$cb090: #73b9c8;
$cb100: #62aabd;
$cb200: #529cb2; // $action-secondary
$cb300: #418ea7;
$cb400: #31809c;
$cb500: #207291; // $medium-blue, $kam-medium-blue
$cb600: #1d6886;
$cb700: #1a5e7b;
$cb750: #165371;
$cb800: #134966;
$cb900: #103f5b;

/* Denim */
$de030: #eaf8fd;
$de040: #d8f2fa;
$de050: #c5ebf7;
$de060: #b0daf0;
$de070: #9ccae8;
$de080: #87bae1;
$de090: #73aad9;
$de100: #5f99d1;
$de200: #4a89ca;
$de300: #3679c2;
$de400: #2168bb;
$de500: #0d58b3; // $regular-blue
$de600: #0c4fa9;
$de700: #0a469f;
$de750: #093e95;
$de800: #08358b;
$de900: #072c81;

/* Dark Cornflower Blue */
$dcb050: #78a3e2;
$dcb060: #6897df;
$dcb070: #578cdb;
$dcb080: #4680d8;
$dcb090: #3575d4;
$dcb100: #2b6aca;
$dcb200: #2762b9;
$dcb300: #2459a8;
$dcb400: #205097;
$dcb500: #1c4584;
$dcb600: #193e76;
$dcb700: #263769;
$dcb750: #122c54;
$dcb800: #0e2343;
$dcb900: #0b1b32;

/* Deep Space Sparkle */
$dss050: #afcfd3;
$dss060: #9ebfc4;
$dss070: #8eafb6;
$dss080: #7d9ea7;
$dss090: #6c8e98; // #6e8b96
$dss100: #5b7e89;
$dss200: #4a6e7c;
$dss300: #3a5e6c;
$dss400: #345564;
$dss500: #294e5c;
$dss600: #294453;
$dss700: #233b4a;
$dss750: #1d3342;
$dss800: #172a39;
$dss900: #112131;

/* English vermillion */
$ev050: #fac5b9;
$ev060: #f6b7ac;
$ev070: #f1a89f;
$ev080: #ed9a92;
$ev090: #e88c86;
$ev100: #e37e79;
$ev200: #df706c;
$ev300: #da615f;
$ev400: #d65352;
$ev500: #d14545; // $kam-satisfaction-0
$ev600: #c33e3e;
$ev700: #b53737;
$ev750: #a63030;
$ev800: #982929;
$ev900: #8a2323;

/** French Blue */
$fb050: #9acaea;
$fb060: #89c1e6;
$fb070: #78b8e2;
$fb080: #68afdf;
$fb090: #57a6db;
$fb100: #469dd8;
$fb200: #3595d4;
$fb300: #2b8aca;
$fb400: #277fb9;
$fb500: #2473a8;
$fb600: #206897;
$fb700: #1d5c87;
$fb750: #195176;
$fb800: #154565;
$fb900: #123a54;

/* Green cyan */
$gc050: #a3f7d7;
$gc060: #8fe8c4;
$gc070: #85e0ba;
$gc080: #7bd9b1;
$gc090: #66c99e;
$gc100: #5cc195;
$gc200: #48b282; // $kam-satisfaction-60
$gc300: #30a074;
$gc400: #23976b;
$gc500: #188e64; // $kam-satisfaction-80
$gc600: #16825a;
$gc700: #137650;
$gc750: #116b46;
$gc800: #0e5f3c;
$gc900: #0c5332;

/* Gold metallic */
$gm050: #fbf177;
$gm060: #f7e970;
$gm070: #f3e268;
$gm080: #efda60;
$gm090: #ebd259;
$gm100: #e7ca51;
$gm200: #e3c249;
$gm300: #dfbb41;
$gm400: #dbb33a;
$gm500: #d7ab32; // $kam-satisfaction-40
$gm600: #c69a2d;
$gm700: #b58928;
$gm750: #a47823;
$gm800: #93671e;
$gm900: #825619;

/* Light slate gray */
$lsg090: #a1c7d1;
$lsg100: #94bbc8;
$lsg200: #88b0bf;
$lsg300: #7ca5b5;
$lsg400: #7099ac;
$lsg500: #648ea3;
$lsg600: #5a8195;
$lsg700: #507388;
$lsg750: #46667a;
$lsg800: #3c586d;
$lsg900: #324b5f;

/* Ochre */
$oc000: #fff;
$oc010: #fefaeb;
$oc020: #fef5d7;
$oc030: #fdeeba;
$oc040: #fce698;
$oc050: #fadd75;
$oc060: #f6d168;
$oc070: #f1c65c;
$oc080: #edbb50;
$oc090: #e8b044;
$oc100: #e3a437;
$oc200: #df992b;
$oc300: #da8e1f;
$oc400: #d68212;
$oc500: #d17706;
$oc600: #c26b05;
$oc700: #b35f05;
$oc750: #a45304;
$oc800: #954704;
$oc900: #873c03;

/* Orange Yellow */
$oy050: #fcf355;
$oy060: #f9ed4b;
$oy070: #f7e642;
$oy080: #f4df38;
$oy090: #f1d92f;
$oy100: #eed226;
$oy200: #ebcb1c;
$oy300: #e9c413;
$oy400: #e6be09;
$oy500: #e3b700; // $satisfaction-40
$oy600: #d1a500;
$oy700: #bf9200;
$oy750: #ad8000;
$oy800: #9b6e00;
$oy900: #895c00;

/* Pewter Blue */
$pb050: #dff7f8;
$pb060: #d7eff1;
$pb070: #cee6eb;
$pb080: #c5dee4;
$pb090: #bdd6dd;
$pb100: #b4ced6;
$pb200: #abc6cf;
$pb300: #a2bdc9;
$pb400: #9ab5c2;
$pb500: #91adbb; // $secondary
$pb600: #839caa;
$pb700: #748c9a;
$pb750: #667b89;
$pb800: #576a79;
$pb900: #495a68;

/* Pansy purple */
$pp050: #eda3cb;
$pp060: #e992c1;
$pp070: #e271ae;
$pp080: #df66a7;
$pp090: #dd5ba1;
$pp100: #da509a;
$pp200: #d6428f;
$pp300: #bd2774; // $zab-purple-main
$pp400: #a82267; // $zab-purple-secondary
$pp500: #9d1159;
$pp600: #91004b; // $zab-purple-main-dark
$pp700: #850246;
$pp750: #790440;
$pp800: #600835;
$pp900: #5b0730;

/* Red Amaranth */
$ra000: #fff;
$ra010: #fef2eb; // $thin-red
$ra020: #fee6d8;
$ra030: #fddac5;
$ra040: #fcc9b5;
$ra050: #fab8a5;
$ra060: #f6a798;
$ra070: #f1978a;
$ra080: #ed867c;
$ra090: #e8766f;
$ra100: #e36561;
$ra200: #df5553;
$ra300: #da4445;
$ra400: #d63438;
$ra500: #d1232a;
$ra600: #c42026;
$ra700: #b61c22;
$ra750: #a9191d;
$ra800: #9b0e14;
$ra900: #8f1215;

/* Rust */
$ru050: #f9c48e;
$ru060: #f2b47f;
$ru070: #eca571;
$ru080: #e59562;
$ru090: #df8554;
$ru100: #d97546;
$ru200: #d26537;
$ru300: #cc5629;
$ru400: #c5461a;
$ru500: #bf360c; // $satisfaction-0
$ru600: #b3310b;
$ru700: #a72b0a;
$ru750: #9b2608;
$ru800: #8f2007;
$ru900: #831b06;

/* Sunray */
$sr050: #fbf2a6;
$sr060: #f7eb9f;
$sr070: #f4e498;
$sr080: #f0dd91;
$sr090: #ecd68b;
$sr100: #e8ce84;
$sr200: #e4c77d;
$sr300: #e1c076;
$sr400: #ddb96f;
$sr500: #d9b268;
$sr600: #c7a05e;
$sr700: #b58e53;
$sr750: #a37d49;
$sr800: #916b3e;
$sr900: #7f5934;

/* Sunglow */
$su050: #fff446;
$su060: #ffef3f;
$su070: #ffeb38;
$su080: #ffe631;
$su090: #ffe22a;
$su100: #fd2;
$su200: #ffd91b;
$su300: #ffd414;
$su400: #ffd00d;
$su500: #ffcb06; // $zab-gold
$su600: #ebb705;
$su700: #d6a205;
$su750: #c28e04;
$su800: #ad7a04;
$su900: #996603;

/* USAFA Blue */
$usa050: #7eb4f1;
$usa060: #6ba9ef;
$usa070: #599eee;
$usa080: #4693ec;
$usa090: #3489ea;
$usa100: #217ee8;
$usa200: #1774de;
$usa300: #156acb;
$usa400: #1360b9;
$usa500: #10519b;
$usa600: #104d94;
$usa700: #0e4481;
$usa750: #0c3a6f;
$usa800: #0a305c;
$usa900: #08274a;
