%container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

%button-template {
  width: auto;
  height: 36px;
  margin: 0;
  padding: 0 16px;
  border-radius: 4px;
  line-height: 36px;
  cursor: pointer;
}

@mixin maxWidth($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin minWidth($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin range($minResolution, $maxResolution) {
  @media (min-width: #{$minResolution}px) and (max-width: #{$maxResolution}px) {
    @content;
  }
}

@mixin geIE10() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin geFF16() {
  @supports (-moz-appearance:meterbar) {
    @content;
  }
}

@mixin geEdge16() {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

// Old adaptive mixins
@mixin laptop-l {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin mobile-m {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: 320px) {
    @content;
  }
}
